@import "./variables";

// Container
@mixin container {
  width: 100%;
  max-width: 1640px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;

  @media (max-width: $screen-xl) {
    max-width: 1088px;
  }

  @media (max-width: $screen-lg) {
    max-width: 800px;
  }
}
