// Color Variables
$color-white: #fff;
$color-black: #242424;
$color-orange: #efa434;
$color-sand: #f4f4ef;
$color-gray: #bfbfbf;
$color-gray-dark: #707070;

// Breakpoint Variables
$screen-sm: 640px;
$screen-md: 880px;
$screen-lg: 1330px;
$screen-xl: 1660px;
