@import "../abstracts/mixins";
@import "../abstracts/variables";

// Footer Styles
.footer {
  @include container;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 20rem;
  margin-bottom: 3rem;
  padding: 1rem 0 0;
  border-top: 1px solid $color-gray;
  text-align: left;

  @media (max-width: $screen-md) {
    justify-content: center;
    text-align: center;
  }
}
