@import "../abstracts/variables";
@import "../abstracts/mixins";
@import "../abstracts/typography";

.resumePage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  z-index: 0;
  width: 100vw;
  height: auto;
  min-height: 100vh;

  @media print {
    padding-top: 5rem;
  }

  .container {
    @include container;
    padding: 16.75rem 1rem 0;

    @media print {
      padding: 3rem 1rem;
    }
  }

  .print {
    display: inline-block;
    margin-bottom: 2rem;
    color: $color-gray;

    @media print {
      display: none;
    }

    &:hover {
      color: $color-orange;
    }
  }

  .about {
    margin-bottom: 19.1%; // Golden ratio / 2

    @media print {
      margin-bottom: 2rem;
    }

    h2 {
      font-size: 2rem;
      line-height: 1;
      margin-bottom: 2rem;

      @media (min-width: $screen-sm) {
        font-size: 4rem;
      }

      @media (min-width: $screen-xl) {
        font-size: 6rem;
      }

      @media print {
        font-size: 2rem;
        margin-bottom: 1rem;
      }
    }

    h4 {
      font-size: 1rem;
      margin-bottom: 4rem;

      @media (min-width: $screen-sm) {
        font-size: 1.9rem;
        margin-bottom: 6rem;
      }

      @media (min-width: $screen-xl) {
        font-size: 2.6rem;
      }

      @media print {
        font-size: 1rem;
        margin-bottom: 1rem;
      }
    }
  }

  .contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 38.2%; // Golden ratio

    @media print {
      position: absolute;
      top: 0;
      right: 0;
      margin-left: 0;
      margin-top: 2rem;
    }

    a {
      display: inline-block;
      font-size: 0.8rem;
      line-height: 1.3;
      margin-bottom: 0.6rem;
      color: $color-orange;

      @media (min-width: $screen-sm) {
        font-size: 1rem;
      }
    }
  }

  .columns {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

    .left {
      width: 100%;

      @media (min-width: $screen-md) {
        width: 38%;
      }

      @media print {
        width: 38%;
      }
    }
    .right {
      width: 100%;

      @media (min-width: $screen-md) {
        width: 50%;
      }

      @media print {
        width: 50%;
      }
    }
  }

  .section {
    margin-bottom: 3rem;

    @media print {
      margin-bottom: 2rem;
    }

    .sectionTitle {
      font-size: 1.4rem;
      margin-bottom: 1rem;
      color: $color-gray;

      @media (min-width: $screen-xl) {
        font-size: 2rem;
      }

      @media print {
        font-size: 1.4rem;
      }
    }
  }

  .keywords {
    ul {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      list-style: none;
      margin-left: 0;
      padding-left: 0;

      li {
        font-size: 0.6rem;
        display: inline-block;
        padding: 0.38rem 1.4rem;
        background-color: $color-white;
        color: $color-gray;
        border-radius: 1rem;
        margin: 0 1rem 1rem 0;

        @media (min-width: $screen-sm) {
          font-size: 0.8rem;
        }

        @media (min-width: $screen-xl) {
          font-size: 1.2rem;
          padding: 0.6rem 2.6rem;
        }

        @media print {
          font-size: 0.8rem;
          padding: 0;
          margin: 0 0.2rem 0 0;
        }

        &:not(:last-of-type):after {
          @media print {
            content: ',';
          }
        }
      }
    }
  }

  .education {
    h2 {
      font-size: 1.4rem;
      line-height: 1;
      margin-bottom: 0;

      @media (min-width: $screen-sm) {
        font-size: 2.8rem;
      }

      @media (min-width: $screen-xl) {
        font-size: 4rem;
      }

      @media print {
        font-size: 1.4rem;
      }
    }
  }

  .experience {
    .position {
      display: block;
      margin-bottom: 3rem;

      @media print {
        margin-bottom: 2rem;
      }

      .title {
        font-size: 2rem;

        @media (min-width: $screen-lg) {
          font-size: 3rem;
        }

        @media (min-width: $screen-xl) {
          font-size: 4rem;
        }
        
        @media print {
          font-size: 1.4rem;
        }
      }

      .employer {
        display: inline-block;
        color: $color-gray-dark;

        @media (min-width: $screen-lg) {
          font-size: 1.2rem;
        }

        @media (min-width: $screen-xl) {
          font-size: 2.4rem;
        }
      }

      .meta {
        display: flex;
        justify-content: flex-start;

        span {
          display: inline-block;
          margin-right: 1rem;
          color: $color-gray;
          font-size: 0.8rem;

          @media (min-width: $screen-xl) {
            font-size: 1.3rem;
          }
        }
      }
    }
  }

  .contracts {
    padding: 2rem;
    background: $color-black;

    @media print {
      display: none;
    }

    .position {
      display: block;
      margin-bottom: 3rem;

      .employer {
        font-size: 1.6rem;
        color: $color-white;

        @media (min-width: $screen-lg) {
          font-size: 2.5rem;
        }

        @media (min-width: $screen-xl) {
          font-size: 3rem;
        }
      }

      .title {
        display: inline-block;
        color: $color-gray-dark;

        @media (min-width: $screen-xl) {
          font-size: 2rem;
        }
      }

      .meta {
        display: flex;
        justify-content: flex-start;

        span {
          display: inline-block;
          margin-right: 1rem;
          color: $color-gray;
          font-size: 0.8rem;

          @media (min-width: $screen-xl) {
            font-size: 1.3rem;
          }
        }
      }
    }
  }
}
